aiohappyeyeballs==2.6.1
aiohttp==3.13.1
aiosignal==1.4.0
attrs==25.4.0
certifi==2025.10.5
charset-normalizer==3.4.4
configparser==7.2.0
CTkMenuBar==0.9
customtkinter==5.2.2
darkdetect==0.8.0
frozenlist==1.8.0
idna==3.11
multidict==6.7.0
Nuitka==2.8.4
ordered-set==4.1.0
packaging==25.0
propcache==0.4.1
pybanana==0.5.0
requests==2.32.5
thunderstormAPI==0.1.1
urllib3==2.5.0
yarl==1.22.0
zstandard==0.25.0