blessings==1.7
cachetools==6.2.1
certifi==2025.10.5
chardet==5.2.0
charset-normalizer==3.4.4
codecov==2.1.13
colorama==0.4.6
coloredlogs==15.0.1
colour-runner==0.1.1
coverage==7.11.0
ctkmenubar==0.9
customtkinter==5.2.2
darkdetect==0.8.0
deepdiff==8.6.1
distlib==0.4.0
filelock==3.20.0
humanfriendly==10.0
idna==3.11
nuitka==2.8.4
ordered-set==4.1.0
orderly-set==5.5.0
packaging==25.0
pillow==12.0.0
platformdirs==4.5.0
pluggy==1.6.0
pygments==2.19.2
pymem==1.14.0
pyproject-api==1.10.0
pyreadline3==3.5.4
requests==2.32.5
rootpath==0.1.1
six==1.17.0
termcolor==3.2.0
tox==4.32.0
urllib3==2.5.0
vdf==3.4
virtualenv==20.35.4
zstandard==0.25.0