name: Build HornetMM

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  release:
    types: [ created ]

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: windows-latest
            artifact_name: HornetMM-Windows
            output_file: HornetMM.exe
          - os: macos-latest
            artifact_name: HornetMM-macOS
            output_file: HornetMM.bin
          - os: ubuntu-latest
            artifact_name: HornetMM-Linux
            output_file: HornetMM.bin
    
    runs-on: ${{ matrix.os }}
    
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
    
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.13'
        architecture: 'x64'
    
    - name: Install Python dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    
    - name: Build with Nuitka (Windows)
      if: matrix.os == 'windows-latest'
      uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: hmm/base.py
        mode: onefile
        windows-icon-from-ico: hmm/icon.ico
        enable-plugins: tk-inter
        include-data-dir: |
          hmm/images=images
          hmm/lua=lua
          hmm/menus=menus
        output-file: HornetMM.exe
    
    - name: Build with Nuitka (macOS)
      if: matrix.os == 'macos-latest'
      uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: hmm/base.py
        mode: onefile
        macos-app-mode: gui
        macos-app-icon: hmm/icon_macos.icns
        enable-plugins: tk-inter
        include-data-dir: |
          hmm/images=images
          hmm/lua=lua
          hmm/menus=menus
        output-file: HornetMM
    
    - name: Build with Nuitka (Linux)
      if: matrix.os == 'ubuntu-latest'
      uses: Nuitka/Nuitka-Action@main
      with:
        nuitka-version: main
        script-name: hmm/base.py
        mode: onefile
        linux-icon: hmm/menus/icon_linux.png
        enable-plugins: tk-inter
        include-data-dir: |
          hmm/images=images
          hmm/lua=lua
          hmm/menus=menus
        output-file: HornetMM
    
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.artifact_name }}
        path: |
          build/*.exe
          build/*.bin
          build/*.app/**/*
    
    - name: Upload to Release
      if: github.event_name == 'release'
      uses: softprops/action-gh-release@v1
      with:
        files: |
          build/*.exe
          build/*.bin
          build/*.app/**/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}